<% console.log(holder) %>
<section class="infoBox mg-b-10">
	<div class="infoItem">
		<% if(holder) { %>
			<a class="itemTitle"><%= holder.itemTitle %>
				<i class="arrows"></i>
			</a>
			<% if(holder.itemInfo && holder.itemInfo.length > 0) { %>
				<ul class="itemInfo">
					<% for(var i=0;i < holder.itemInfo.length;i++){ %>
						<% if(holder.itemInfo[i]["inputChoose"]) { %>
							<li 
								<% for(var x in holder.itemInfo[i]["inputChoose"]){ %>
									<%= x+"="+holder.itemInfo[i]["inputChoose"][x] %>
								<% } %>	
							>
						<% } else { %>
							<li>
						<% } %>
								<a>
									<label><%= holder.itemInfo[i]["inputName"] %></label>
									<input 
									<% for(var y in holder.itemInfo[i]["inputPars"]){ %>
										<%= y+"="+holder.itemInfo[i]["inputPars"][y] %>
									<% } %>	
									></input>

									<% console.log(holder.itemInfo[i]["inputChoose"]) %>
									<% if(holder.itemInfo[i]["inputChoose"]) { %>
										<% if(holder.itemInfo[i]["inputChoose"]["class"] == "choose") { %>
											<i class="arrows"></i>	
										<% } %>
									<% } %>
								</a>
							</li>
					<% } %>
				</ul>
			<% } %>
		<% } %>
	</div>
</section>

