<section class="infoBox">
	<div class="infoItem">
		<a class="itemTitle">补充信息
			<i class="arrows"></i>
		</a>
		<ul class="itemInfo">
			<li>
				<a>
					<label>手&#12288;&#12288;机</label>
					<input id="supple-info-tel" type="tel" data-verify="phoneno" data-belong="extraParams" data-type="phone" oninput="if(value.length>11)value=value.slice(0,11)"></input>
				</a>
			</li>
			<li>
				<a>
					<label>验证码</label>
					<input id="supple-info-code" type="tel" data-belong="extraParams" data-type="captcha" data-verify="authCode"></input>
					<span id="getCode" class="getcode">获取验证码</span>
				</a>
			</li>
		</ul>
	</div>
</section>