<section class="supple-info main open">
	<a class="related-person">补充信息
		<i class="arrows"></i>
	</a>
	<ul class="input-list">
		<li>
			<a>
				<label>手&#12288;&#12288;机</label>
				<input id="supple-info-tel" type="tel" data-type="phoneno" oninput="if(value.length>11)value=value.slice(0,11)"></input>
			</a>
		</li>
		<li>
			<a>
				<label>验证码</label>
				<input id="supple-info-code" type="tel" data-type="authCode"></input>
				<span id="getCode" class="getcode">获取验证码</span>
			</a>
		</li>
	</ul>
</section>