<section class="infoBox mg-b-10">
	<div class="infoItem">
		<% if(insured) { %>
			<a class="itemTitle"><%= insured.itemTitle %>
				<i class="arrows"></i>
			</a>
			<% if(insured.itemInfo && insured.itemInfo.length > 0) { %>
				<ul class="itemInfo">
					<% for(var i=0;i < insured.itemInfo.length;i++){ %>
						<% if(insured.itemInfo[i]["inputChoose"]) { %>
							<li 
								<% for(var x in insured.itemInfo[i]["inputChoose"]){ %>
									<%= x+"="+insured.itemInfo[i]["inputChoose"][x] %>
								<% } %>	
							>
						<% } else { %>
							<li>
						<% } %>
								<a>
									<label><%= insured.itemInfo[i]["inputName"] %></label>
									<input 
									<% for(var y in insured.itemInfo[i]["inputPars"]){ %>
										<%= y+"="+insured.itemInfo[i]["inputPars"][y] %>
									<% } %>	
									></input>
									<% if(insured.itemInfo[i]["inputChoose"]) { %>
										<% if(insured.itemInfo[i]["inputChoose"]["class"] == "choose") { %>
											<i class="arrows"></i>	
										<% } %>
									<% } %>
								</a>
							</li>
					<% } %>
				</ul>
			<% } %>
		<% } %>
	</div>
</section>