<% if(item.lxjy) {
   var objArray = item.lxjy.objArray;
%>
<section class="box">
	<a class="header">
		<i class="tag"></i>
		<i class="arrows"></i>
		<%= item.lxjy.title %>
	</a>
	<div class="itemBox">
		<label class="title"></label>
		<input id="relaId" value="本人" data-id="00" hidden="hidden">

		<div class="tabs-box">
			<ul id="lxjy-tabs" class="tabs">
				<li class="active"><a data-id="0">方式一</a></li>
				<li><a data-id="1">方式二</a></li>
			</ul>

			<div class="tabs-content">
				<div data-id="lxjy-tabs" class="tabs-content-absolute">
					<div class="tabs-item">
						<div class="tabs-item-title">被保险人名单 <span>被保险人数≤100可拍照上传</span></div>
						<div class="uploadBox">
						    <form id="uploadForm-two" class="uploadItem" enctype='multipart/form-data'>
						        <label for="uploadImg-two"></label>
						        <input type="file" id="uploadImg-two" name="image" accept=".jpg, .jpeg, .png" multiple hidden="hidden">
						    </form>
						</div>
					</div>

					<div class="tabs-item">
						<div class="tabs-item-title">投保邮箱 <span>可直接将被保险人名单发送至投保邮箱</span></div>
						<div class="tabs-item-lxjy">
							<p class="email">rrservice@renrenbx.com</p>
							<p class="example">示例</p>
							<img class="img" src="<%= item.lxjy.exampleImg %>">
							<p class="note">注：按照以上表格模板将被保险人信息填写好发送至投保邮箱，表格中的人数必须与基本信息中保障人数一致</p>
						</div>

					</div>
				</div>
			</div>

		</div>

	</div>
</section>
<% } %>