<% if(relaTemplate) { %>
	<% for(var i=0;i < relaTemplate.length;i++){ %>
		<% if(relaTemplate[i]["inputChoose"]) { %>
			<li class="add"
				<% for(var x in relaTemplate[i]["inputChoose"]){ %>
					<%= x+"="+relaTemplate[i]["inputChoose"][x] %>
				<% } %>	
			>
		<% } else { %>
			<li class="add">
		<% } %>
				<a>
					<label><%= relaTemplate[i]["inputName"] %></label>
					<input 
					<% for(var y in relaTemplate[i]["inputPars"]){ %>
						<%= y+"="+relaTemplate[i]["inputPars"][y] %>
					<% } %>	
					></input>
					<% if(relaTemplate[i]["inputChoose"]) { %>
						<% if(relaTemplate[i]["inputChoose"]["class"] == "choose") { %>
							<i class="arrows"></i>	
						<% } %>
					<% } %>
				</a>
			</li>
	<% } %>
<% } %>