<li>
	<a>
		<label>姓&#12288;&#12288;名</label>
		<input id="insured_userName" data-belong="insuredUser" data-type="userName" maxlength="32" minlength="3" placeholder="请输入被保人姓名"></input>
	</a>
</li>
<li norequired="true">
	<a>
		<label>证件类型</label>
		<input style="color:#333" id="insured_certiType" data-belong="insuredUser" data-value="00"  placeholder="身份证" value="身份证" unselectable="on" onfocus="this.blur()" readonly="readonly"></input>
	</a>
</li>
<li>
	<a>
		<label>证件号码</label>
		<input id="insured_certiNo" type="text" data-belong="insuredUser" data-type="certiNo" oninput="if(value.length>18)value=value.slice(0,18)" placeholder="请输入证件号码"></input>
	</a>
</li>
