<section class="agreed mg-b-47">
	<p><input type="checkbox" data-type="checkbox" checked>我已阅读并认可<a href="//m1.renrenbx.com/pdf/view/web/viewer.html?pdf=20180118kaixinbaodjx_bxtk&title=保险条款">《保险条款》</a><a href="//m1.renrenbx.com/pdf/view/web/viewer.html?pdf=20180118kaixinbaodjx_mcsm&title=免责说明">《免责说明》</a></p>
</section>