// 修改 scroll 默认样式
// 作者:ydlx
// 日期:2018-1-18
::-webkit-scrollbar{width:10px;background-color:#e1e5ea}
::-webkit-scrollbar-thumb{background-color:#c3cad4;border-radius:10px;border:2px solid #e1e5ea;}
::-webkit-scrollbar-thumb:hover{background-color:#aab1bc;}
::-webkit-scrollbar-thumb:active{border:0;border-radius:0;background-color:#737ed7}
::-webkit-scrollbar-thumb:window-inactive{background-color:#4c97da}

// 试算页 千年不变父容器
// 作者:ydlx
// 日期:2018-3-12
.background {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:48px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color:#000;
    display:flex;
    flex-direction: column-reverse;
    overflow:hidden;
    z-index:400;
    .box {
        width: calc(100%);
        background-color: #fff;
        max-height: 460px;
        overflow-y: auto;
        .header {
            position: relative;
            padding:15px;
            font-size: 1rem;
            line-height:1;
            .tag {
                position: absolute;
                width: 5px;
                height: 1rem;
                left: 0;
                top: 15px;
                background-color: #b6a780;
            }
        }
    }
}

// 试算页 item 选项组件
//
// 作者:ydlx
// 日期:2018-3-7
.item {
    position: relative;
    display:flex;
    align-items: center;
    height:3rem;
    line-height:1;
    margin-left:15px;
    margin-right:15px;
    background-color:#fff;
    border-top:1px solid #eee;
    .title {
       position: relative;
       width:4rem;
       font-size:1rem;
       line-height:1.4;
    }
    .content {
        flex:auto;
        color:#333;
        display:flex;
        font-size:1rem;
        padding:15px;
    }
    .icon {
        position: absolute;
        right: 0;
        width: 1rem;
        display: block;
        height: 1rem;
        top:0;
        bottom:0;
        margin:auto;
        .iconImg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: rotate(-90deg);
        }
    }
}

// TAB单选
// 作者:ydlx
// 日期:2018-3-16
.singleSelect {
    .content {
        li.active {
            a {
                color:#fff;
                background-color:#c2343d;
                border:none;
            }
        }
        li {
            a {
                padding:5px 1rem;
                border:1px solid #eee;
                border-radius:4px;
                margin-right:1rem;
            }
        }
    }
}
// 多选组件
// 作者:ydlx
// 日期:2018-3-13
.multiSelect {
    flex-direction: column;
    align-items: flex-start;
    height:auto;
    .title {
        position: relative;
        width: 5rem;
        font-size: 1rem;
        line-height: 3rem;
    }
    .content {
        flex: auto;
        color: #333;
        display: flex;
        font-size: 1rem;
        padding: 0;
        flex-direction: column;
        width: 100%;
        li {
            border-bottom: 10px solid #fff;
            a{
                display: block;
                width: 100%;
                border-radius: 4px;
                padding: 6px 10px;
                box-sizing: border-box;
                border:1px solid #eee;
            }
            a.active {
                background-color: #c2343d;
                border:1px solid #c2343d;
                color:#fff;
            }
        }
    }
}
// Text组件
// 作者:ydlx
// 日期:2018-3-13
.text  {
    height: auto;
    align-items: baseline;
    .content {
        flex-direction: column;
        .sub {
            justify-content: space-between;
            display: flex;
            font-size: 1rem;
            padding: 5px 0;
            align-items: center;
            span:nth-child(2){
                font-size:14px;
                text-align:right;
                line-height: 1.4;
                color:#c2343d;
            }
        }
    }
}

// imgShow组件
// 作者:ydlx
// 日期:2018-6-21


.imgShow {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-bottom:15px;
    .title {
        position: relative;
        width:100%;
        padding:15px 0;
        .arrows {
            position: absolute;
            right: 18px;
            width: 8px;
            height: 14px;
            margin: auto;
            top: 0;
            bottom: 0;
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAeCAYAAAAl+Z4RAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsSAAALEgHS3X78AAABTElEQVQ4y52UTS5EURCFv/e0kZGRsQ2IyKH9dEsswFQLsQDLMTE0Q1tH//hJkWALFqFJMKknN0/3u/eq0atKzqnzVW5eYWZnwD5wImlEZpXAIrAMDM2sm2tQAJhZH+j5bEfSOMvATW6Ag1yTsvqQ1AOuvB2l4hT1gZldA4epSYppwxrOtqTbKEJYNZyxmXWyDNzkGOh7OzCzvWSEHJwyZhDDiRoEOBcBzmYyQg0nfLFbku6yDNzkEjjytptt4CbnwGnyDabU0r9u4NsfgTXgG1ArQzgHDFz8AexKekpKYGYtYAi0gQnQlvSchODie9/8CaxX4ugRzWy+SQzQiogfgFVn7tTFMxFiscMqp4jD2JMm8Z8EtdgTYEPSS9Odwr9yGPvDNzeKfxFqsd9TxQClmS147Io5GjusFjAGVvzabUmvqeIK4Qt4i117Vv0AMEmUl7PZbAwAAAAASUVORK5CYII=");
            background-repeat: no-repeat;
            background-size: contain;
            transform: rotate(90deg);
            transition: all 1s ease;
        }
    }
    .content {
        display:block;
        padding:0;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}


.open .title .arrows {
    transform: rotate(270deg);
}

// 保障计划
// 作者:ydlx
// 日期:2018-3-14

.supportPlan {
    padding-top:10px;
    padding-bottom:10px;
    .sp-icon {
        display:none;
    }
}

.sp-nav {
    display: flex;
    margin-left:15px;
    margin-right:15px;
    li {
        flex:1;
        a {
            display: block;
            text-align: center;
            padding-bottom:10px;
        }
        a.active {
            color:#b6a780;
        }
    }
}

.pt-sp-nav {
    margin-bottom:10px;
    li {
        a{
            font-size:15px;
            padding-top:6px;
            padding-bottom:6px;
            border:1px solid #b6a780;
            color:#b6a780;
            border-radius:4px;
        }
        a.active {
            background-color:#b6a780;
            color:#fff;
        }
    }
}

.sp-content {
    margin-left:15px;
    margin-right:15px;
    // max-height: 10rem;
    // overflow-y: scroll;
    li {
        .sp-con-brief {
            position:relative;
            font-size:.85rem;
            display:flex;
            justify-content: space-between;
            > span:nth-child(2){
                color:#c2343d;
            }
        }
        .sp-con-details {
            display:none;
            font-size:.8rem;
            margin-top:6px;
        }
    }
    li:not(:last-child) {
        margin-bottom:15px;
    }
}


