.lift-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    border-bottom: 2px solid #eee;
    background-color: #fff;
    z-index: 1000;
}

.lift-nav ul {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}

.lift-nav li:first-child {
    border-right: 1px solid #eee;
}

.lift-nav li:nth-child(2) {
    border-right: 1px solid #eee;
}

.lift-nav .current {
    color: #b6a780;
}

.lift-nav li {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    text-align: center;
    font-size: 1rem;
    color: #7d7d7d;
    background-color: #fff;
    cursor: pointer;
}


.lift-wire {
    position: absolute;
    bottom: -2px;
    width: calc(100%/3 - 1.2rem);
    width: -webkit-calc(100%/3 - 1.2rem);
    width: -moz-calc(100%/3 - 1.2rem);
    height: 4px;
    background-color: #b7ab8c;
    margin-left: .6rem;
    transition: margin-left .5s ease;
    -webkit-transition: margin-left .5s ease;
    -moz-transition: margin-left .5s ease;
}