.user-comments {
    position: relative;
	display: flex;
    flex-direction: column;
    padding-bottom:2rem;

    background-color: #fff;
}

.uc-title {
    padding: 15px 0 8px 0;
    font-size: 1rem;
    line-height: 1;
    border-bottom: 1px solid #eee;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.uc-tag {
    position: absolute;
    width: 5px;
    height: 1rem;
    left: 0;
    top: 15px;
    background-color: #b6a780;
}

.user-comments .comment-list.active ~ a img {
    transform: rotate(180deg);
    transition:all .3s linear;
}

.user-comments .comment-list.active {
    height:auto;
}


.comment-list {
    margin-left:15px;
    margin-right:15px;
    overflow:hidden;
}

.cli-intro {
    display: flex;
}

.cli-icon {
    flex:1;
}

.cli-honor {
    flex:4;
}

.cli-date {
    flex:2;
}

.cli-icon img {
    display:block;
    width:100%;
    height:100%;
    object-fit:scale-down;
    border-radius:50%;
}

.cli-name {
    font-size:.9rem;
    color:#a2a2a2;
}

.cli-date {
    display:flex;
    font-size:.75rem;
    color:#a2a2a2;

    justify-content: flex-end;
    align-items: center;
}

.cli-text {
    font-size:.8rem;
}

.cli-honor {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left:6px;
}

.cli-score img{
    width:1rem;
    height:auto;
}

.cli-text {
    padding-top:10px;
    padding-bottom:10px;
    color:#5b5b5b;
}

