.modal {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
    .modalArea {
        width: 16rem;
        margin:auto;
        background: #fff;
        border-radius: 5px;
        overflow: hidden;
        header {
            padding:.5rem;
            text-align: center;
        }
        .content {
            padding:.5rem;
            font-size:.9rem;
        }
        footer {
            display:flex;
            justify-content: space-around;
            a {
                width: 100%;
                padding: .5rem;
                text-align: center;
                border-top:1px solid #eee;
                cursor: pointer;
            }
            a:first-child{
                border-right:1px solid #eee;
            }
        }
        .none {
            display:none;
        }
    }
}
