@import './reset';
@import './ios';
@import './android';
/* 距离下部15px */
.mg-b-15 {
	margin-bottom:15px;
}

.mg-b-10 {
	margin-bottom:10px;
}

.mg-b-47 {
	margin-bottom:47px;
}

.mg-b-footer {
	margin-bottom:4rem;
}

