#container {
    // 可视区 全屏 
    width:100vw;
    height: 100vh;
}
/* 试算页容器  */
/* flex 竖行 底部开始 */
/* ydlx */
/* 2018-2-11 */
.prem-trial {
    box-sizing: border-box;
    height:100%;
    padding-bottom: 3rem;
    display:flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    background-color:#000;
}

/* 试算第一级容器 */
/* ydlx */
/* 2018-2-11 */
.trial-one {
    width:100%;
    background-color:#fff;
    border-bottom:1rem solid #eee;
    > .title {
        position: relative;
        padding:1rem;
        font-size: 1rem;
        line-height:1;
        border-bottom:1px solid #d7d7d7;
        .decorate {
            position: absolute;
            width: .35rem;
            height: 1rem;
            left: 0;
            background-color: #b6a780;
        }
    }
    .trial-two:last-child {
        .optional{
            border-bottom:none;
        }
    }
}

/* 试算第二级容器 */
/* ydlx */
/* 2018-2-11 */
.trial-two {
    position: relative;
    width:100%;
    background-color:#fff;
    > .title {
        position: absolute;
        padding:1rem;
        font-size: 1rem;
        line-height:1;
    }
    .optional {
        position: relative;
        display: block;
        height: 3rem;
        padding-left: 6.5rem;
        line-height:3rem;
        margin-left:1rem;
        margin-right:1rem;
        border-bottom:1px solid #d7d7d7;
        .icon {
            position: absolute;
            top:0;
            right:0;
            bottom:0;
            // 比例缩放
            transform: scale(0.7);
            .img {
                transform: rotate(-90deg);
                &.active {
                    transform: rotate(0deg);
                }
            }
        }
        .selected {
            display: flex;
            justify-content: space-between;
            padding-right: 1.4rem;
        }
    }
}