// 试算页 千年不变父容器
// 作者:ydlx
// 日期:2018-3-12
.background {
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:48px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color:#000;
    display:flex;
    flex-direction: column-reverse;
    overflow:hidden;
    z-index:400;
    .box {
        width: 100%;
        background-color: #fff;
        border-bottom: 1rem solid #eee;
        .header {
            position: relative;
            padding:15px;
            font-size: 1rem;
            line-height:1;
            .tag {
                position: absolute;
                width: 5px;
                height: 1rem;
                left: 0;
                top: 15px;
                background-color: #b6a780;
            }
        }
    }
}

// 试算页 item 选项组件
//
// 作者:ydlx
// 日期:2018-3-7
.item {
    position: relative;
    display:flex;
    align-items: center;
    height:3rem;
    line-height:1;
    margin-left:15px;
    margin-right:15px;
    background-color:#fff;
    border-top:1px solid #eee;
    .title {
       position: relative;
       width:5rem;
       font-size:1rem;
       line-height:1.4;
    }
    .content {
        flex:auto;
        color:#333;
        display:flex;
        font-size:1rem;
        padding:15px;
    }
    .icon {
        position: absolute;
        right: 0;
        width: 1rem;
        display: block;
        height: 1rem;
        .iconImg {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: rotate(-90deg);
        }
    }
}

// 多选组件
// 作者:ydlx
// 日期:2018-3-13
.multiSelect {
    flex-direction: column;
    align-items: flex-start;
    height:auto;
    .title {
        position: relative;
        width: 5rem;
        font-size: 1rem;
        line-height: 3rem;
    }
    .content {
        flex: auto;
        color: #333;
        display: flex;
        font-size: 1rem;
        padding: 0;
        flex-direction: column;
        width: 100%;
        li {
            border-bottom: 10px solid #fff;
            a{
                display: block;
                width: 100%;
                border-radius: 4px;
                padding: 6px 10px;
                box-sizing: border-box;
                border:1px solid #eee;
            }
            a.active {
                background-color: #c2343d;
                border:1px solid #c2343d;
                color:#fff;
            }
        }
    }
}
