.banner-card {
	display: flex;
    flex-direction: column;
    background-color: #fff;
}

.banner-img {
	display: block;
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.banner-info {
	display: flex;
    justify-content: space-between;
    font-size: .8rem;
    padding: 15px 15px;
}

.banner-info > div:first-child{
    border-right: 1px solid #eee;
    padding-right: 10px;
}

.banner-info > div:nth-child(3){
	color:#c2343d;
}

/* banner 动画 */
.banner-main {
    position:relative;
}

.pro-text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba(0,0,0,.6);
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    color: #fff;
    overflow: hidden;
    transition: left .5s ease;
    -webkit-transition: left .5s ease;
}

.pro-text p {
    display:none;
    margin-left: 3rem;
    margin-right: 3rem;
}

.pt-left {
    left: 0;
}

.pt-right {
    right: 0;
}

.pt-left > img,
.pt-right > img {
    width:1.4rem;
    height:1.4rem;
}

.pt-left > img {
    transform:rotate(90deg);
}

.pt-right > img {
    transform:rotate(-90deg);
}

.pt-left, .pt-right {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 0;
    cursor: pointer;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
}

.pt-show {
    display: block;
    opacity: 1;
}
