.support-plan {
    position: relative;
    background-color:#fff;
}

.sp-title {
    position: relative;
    padding:15px;
    font-size: 1rem;
    line-height:1;
}

.sp-tag {
    position: absolute;
    width: 5px;
    height: 1rem;
    left: 0;
    top: 15px;
    background-color: #b6a780;
}

.sp-nav {
    display: flex;
    margin-left:15px;
    margin-right:15px;
}

.sp-nav li {
    flex:1;
}

.sp-nav li a.active {
    color:#b6a780;
}

.sp-nav li a {
    display: block;
    text-align: center;
    padding-bottom:10px;

    text-overflow:ellipsis; 
    overflow:hidden;
    white-space:nowrap; 
}

.sp-wire-con {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 11px;
    border-bottom: 1px solid #b9b9b9;
}

.sp-wire {
    position: absolute;
    bottom: -1px;
    height: 2px;
    background-color: #b6a780;
    margin-left: 0;
    transition: margin-left .5s ease;
    -webkit-transition: margin-left .5s ease;
    -moz-transition: margin-left .5s ease;
    width: calc(100%/4);
    width: -webkit-calc(100%/4);
    width: -moz-calc(100%/4);
}

.sp-con-brief {
    position:relative;
    font-size:.85rem;
    display:flex;
    justify-content: space-between;
}

.sp-con-brief > span:nth-child(2){
    color:#c2343d;
    padding-right:1.6rem;
}
.sp-con-details {
    display:none;
    font-size:.8rem;
    margin-top:6px;
    color:#999;
}

.sp-icon {
    display:block;
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    width:.8rem;
}

.sp-icon-img {
    display:block;
    width:100%;
    height:100%;
    object-fit:scale-down;
    transition: all .3s linear;
}

.sp-icon .active {
    transform: rotate(180deg);
}

.sp-content {
    margin-left:15px;
    margin-right:15px;
    
    overflow:hidden;
    transition: all .3s linear;
    max-height: 10rem;
    padding-bottom: 10px;
}

.support-plan .sp-content.active ~ a img {
    transform: rotate(180deg);
    transition:all .3s linear;
}

.support-plan .sp-content.active {
    max-height:100%;
    padding-bottom:1.8rem;
}

.sp-content li:not(:last-child) {
    margin-bottom:15px;
}

