.modal-bg {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 6666;
    background: rgba(0, 0, 0, 0.7);
    .modal-content {
        width: 100%;
        margin: auto 1rem;
        overflow: hidden;
        .modal-item {
            margin:1rem auto;
            background: #fff;
            border-radius:6px;
        }
        // 默认模态框
        .modalItem-default {
            padding:2rem 1rem;
            text-align:center;
        }

        // 客服咨询模态框
        .modalItem-consult {
            padding:0;
            a {
                display:block;
                padding:1rem;
                text-align:center;
                color:#0095fd;
                cursor: pointer;
            }
        }
    }

    .modalContent-consult {
        margin:auto 1rem 1rem;
    }


}
