<section class="eg-box">
	<img src="https://m1.renrenbx.com/rrbxcdn/rrbx/elifebaogroup/eg_01.jpg">
	<div class="eg-box-list">
		<a href="//m1.renrenbx.com/pdf/view/web/viewer.html?pdf=20180522elifebaogroup_bxtk&title=保险条款">
			<img src="https://m1.renrenbx.com/rrbxcdn/rrbx/elifebaogroup/eg_02_01.jpg">
		</a>
		<a href="//m1.renrenbx.com/pdf/view/web/viewer.html?pdf=20180522elifebaogroup_cpfl&title=产品费率">
			<img src="https://m1.renrenbx.com/rrbxcdn/rrbx/elifebaogroup/eg_02_02.jpg">
		</a>
		<a href="//m1.renrenbx.com/pdf/view/web/viewer.html?pdf=20180522elifebaogroup_zysm&title=重要声明">
			<img src="https://m1.renrenbx.com/rrbxcdn/rrbx/elifebaogroup/eg_02_03.jpg">
		</a>
		<a href="//m1.renrenbx.com/pdf/view/web/viewer.html?pdf=20180522elifebaogroup_lpxz&title=理赔须知">
			<img src="https://m1.renrenbx.com/rrbxcdn/rrbx/elifebaogroup/eg_02_04.jpg">
		</a>
	</div>
	<img src="https://m1.renrenbx.com/rrbxcdn/rrbx/elifebaogroup/eg_03.jpg">
</section>
