<% if(proAdvantage && proAdvantage.length > 0) { %>
<section class="product-intro">
	<% for(var i=0;i < proAdvantage.length;i++){ %>
		<a>
			<img src=<%= proAdvantage[i].img %>>
		</a>
	<% } %>
</section>
<% } %>