<% if(faq && faq.length > 0) {%>
<section class="faq mg-b-15">
	<div class="f-title">
		<i class="f-tag"></i>
		<%= "常见问题" %>
	</div>

	<div id="f-content" class="f-content">
		<% for(var i=0;i< faq.length;i++){ %>
			<div class="f-card">
				<div><%= "Q:" + faq[i].question %></div>
				<div><%= "A:" + faq[i].answer %></div>
			</div>
		<% } %>
	</div>

	<% if(faq.length > 1) {%>
		<a class="trigger">
			<img src="https://img2.renrenbx.com/inco/more-up.png">
		</a>
	<% } %>
</section>
<% } %>