<section class="insure-clause mg-b-footer">
	<% if(insuranceInstruction && insuranceInstruction.length > 0){ %>
		<% for(var i=0;i< insuranceInstruction.length;i++){ %>
		<a href=<%= insuranceInstruction[i].link %>><%= insuranceInstruction[i].title %></a>
		<% } %>
	<% } %>
</section>