<div class="lift-nav">
  <ul class="lift">
    <li data-id="1" class="current"><a>产品介绍</a></li>
    <li data-id="2" class=""><a>用户评价</a></li>
    <li data-id="3"><a>详细说明</a></li>
  </ul>
  <div class="lift-wire" style="margin-left: 0.6rem;"></div>
</div>