.suppleInfo {
	border-bottom:none;
}
/* 验证码 */
.getcode {
    width: 6rem;
    height:1rem;
    padding: 5px;
    border-radius: 4px;
    text-align:center;
    background-color: #92cd4e;
    color: #fff;
    cursor: pointer;

    font-size:14px;
    position: absolute;
    right: 0;
    top:0;
    bottom:0;
    margin:auto;
}